<!DOCTYPE html>
<html lang="en_US">
<head>
	<meta charset="utf-8"/>
	<title>SocialPosting</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<script src="/dist/socialPostingFrontendBundle.js"></script>
	<script src="./edit_user.js"></script>
</head>
<body>
	<div class="container">
		<div class="top-bar">
			<div class="site-title">
				<a class="linkless" href="/index.html"><h1>Social Posting</h1></a>
			</div>
			<div class="navigation">
				<div class="nav-users"><a class="linkless" href="/views/user_list.html"><h3>Users</h3></a></div>
				<div class="nav-posts"><a class="linkless" href="/views/post_list.html"><h3>Posts</h3></a></div>
				<div class="nav-login" id="nav-login-link"><a class="linkless" href="/views/login.html"><h3 class="nav-login">Log in</h3></a></div>
			</div>
		</div>
		<div class="main-content">
			<div class="" id="input-container">
				<label for="name" class="input-label">Name</label>
				<input id="name" type="text" class="input-field">

				<label for="surname" class="input-label">Surname</label>
				<input id="surname" type="text" class="input-field">

				<label for="birth" class="input-label">Birth date</label>
				<input id="birth" type="date" class="input-field">

				<label for="profile-pic" class="input-label">Profile picture</label>
				<input id="profile-pic" type="file" class="input-filed">

				<label for="profile-pic-desc" class="input-label">Profile picture description</label>
				<input id="profile-pic-desc" type="text" class="input-field">

				<button id="save-user-info-button" class="create-account-button">Save</button>
			</div>
		</div>

		<footer>
			<p>Social Posting</p>
			<p>Copyright &copy; 2020, Łukasz Zdziarski</p>
		</footer>
	</div>
</body>
</html>