<!DOCTYPE html>
<html lang="en_US">
<head>
	<meta charset="utf-8"/>
	<title>SocialPosting</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<script src="/dist/socialPostingFrontendBundle.js"></script>
	<script src="./user_list.js"></script>
</head>
<body>
	<div class="container">
		<div class="top-bar">
			<div class="site-title">
				<a class="linkless" href="/index"><h1>Social Posting</h1></a>
			</div>
			<div class="navigation">
				<div class="nav-users"><a class="linkless" href="/views/user_list"><h3>Users</h3></a></div>
				<div class="nav-posts"><a class="linkless" href="/views/post_list"><h3>Posts</h3></a></div>
				<div class="nav-login" id="nav-login-link"><a class="linkless" href="/views/login"><h3 class="nav-login">Log in</h3></a></div>
			</div>
		</div>
		<div class="main-content" id="user-list-container">
			
		</div>

		<footer>
			<p>Social Posting</p>
			<p>Copyright &copy; 2020, Łukasz Zdziarski</p>
		</footer>
	</div>
</body>
</html>
